:root {
	--primary-400: hsl(176, 50%, 47%);
	--primary-700: hsl(176, 72%, 28%);

	--neutral-black: hsl(0, 0%, 0%);
	--neutral-500: hsl(0, 0%, 48%);
	--neutral-200: hsl(0, 0%, 85%);
	--neutral-100: hsl(0, 0%, 90%);
	--neutral-50: hsl(0, 0%, 96%);
	--neutral-white: hsl(0, 100%, 100%);

	--error-400: hsl(0, 72%, 55%);
	--error-700: hsl(0, 65%, 40%);

	--overlay: rgba(0, 0, 0, 0.5);
	--header-gradient: linear-gradient(var(--overlay), transparent);

	--attribution: hsl(228, 45%, 44%);

	--block-border-radius: 0.675rem;
	--card-border-radius: 0.5rem;
	--round-border-radius: 9999px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	min-height: 100dvh;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Commissioner", sans-serif;
	display: flex;
	flex-direction: column;
	background: var(--neutral-50);
}

fieldset,
dialog {
	border: none;
	padding: 0;
	margin: auto;
	max-width: none;
	max-height: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	color: inherit;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		transition-duration: 0s !important;
		animation-duration: 0s !important;
		scroll-behavior: auto !important;
	}
}

.attribution {
	margin-block-start: 4rem;
	font-size: 0.6875rem;
	text-align: center;
}

.attribution a {
	color: var(--attribution);
	text-decoration: underline;
	text-underline-offset: 3px;
}

.attribution a:hover,
.attribution a:focus {
	text-decoration: none;
}

.sr-only {
	position: absolute;
	width: 0.0625rem;
	height: 0.0625rem;
	padding: 0;
	margin: -0.0625rem;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

/* CAMPAIGN SPECIFIC */

h1,
h2,
h3 {
	color: var(--neutral-black);
}

button:focus-visible,
a:focus-visible {
	outline: 2px solid var(--primary-400);
	outline-offset: 4px;
}

dialog:not([open]) {
	display: none;
}

/* HEADER */

.header {
	flex-shrink: 0;
	height: 19rem;
	background-image:
		var(--header-gradient), url("../images/image-hero-mobile.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu {
	z-index: 2;
	position: fixed;
	display: none;
	flex-direction: column;
	background: var(--neutral-white);
	top: 5.5rem;
	left: clamp(1.5rem, -2.424rem + 16.97vw, 5rem);
	right: clamp(1.5rem, -2.424rem + 16.97vw, 5rem);
	font-weight: 500;
	font-size: 1.125rem;
	border-radius: var(--block-border-radius);
}

.header__menu--visible {
	display: flex;
}

.header__menu-item:not(:last-child) {
	border-block-end: 1px solid var(--neutral-100);
}

.header__menu-link {
	display: block;
	padding: 1.375rem 1.5rem;
	flex: 1;
}

.header__logo {
	z-index: 2;
	padding-block: 2rem;
	padding-inline: clamp(1.5rem, -2.424rem + 16.97vw, 5rem);
}

.header__logo-image {
	object-fit: contain;
}

.header__menu-toggle {
	z-index: 2;
	padding-block: 2rem;
	padding-inline: clamp(1.5rem, -2.424rem + 16.97vw, 5rem);
}

.header__menu-open {
	display: none;
}

.header__menu-open--visible {
	display: block;
}

.header__menu-close {
	display: none;
}

.header__menu-close--visible {
	display: block;
}

.header__overlay {
	position: fixed;
	inset: 0;
	background: var(--overlay);
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 0.3s ease,
		visibility 0.3s ease;
	z-index: 1;
}

.header__overlay--visible {
	opacity: 1;
	visibility: visible;
}

/* CAMPAIGN PAGE */

.campaign-page {
	display: grid;
	justify-items: center;
	padding-inline: clamp(1.5rem, -2.424rem + 16.97vw, 5rem);
	margin-inline: auto;
	margin-block-start: -4rem;
	width: 100%;
	gap: 1.5rem;
	color: var(--neutral-500);
	font-size: clamp(0.9rem, 0.788rem + 0.485vw, 1rem);
}

.campaign-container {
	display: grid;
	width: 100%;
	background: var(--neutral-white);
	padding-inline: clamp(1.5rem, -0.182rem + 7.273vw, 3rem);
	padding-block: clamp(2.5rem, 1.939rem + 2.424vw, 3rem);
	border-radius: var(--block-border-radius);
	line-height: 1.6;
	gap: clamp(1.675rem, 1.03rem + 2.788vw, 2.25rem);
}

/* CAMPAIGN HEADER */

.campaign-header {
	justify-items: center;
	padding-block-start: 1.5rem;
	text-align: center;
	gap: 1.375rem;
}

.campaign-header__logo {
	transform: translateY(-50%);
	margin-block: -1.5rem;
}

.campaign-header__title {
	font-size: clamp(1.425em, 0.78em + 2.788vw, 2em);
	line-height: 1.2;
	font-weight: 700;
	max-width: 20ch;
}

.campaign-header__text {
	max-width: 30ch;
}

.campaign-header__buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-weight: 700;
	font-size: 1rem;
	gap: 0.5rem;
}

.campaign-header__back-button {
	background: var(--primary-400);
	color: var(--neutral-white);
	padding-inline: clamp(2.25rem, 1.409rem + 3.636vw, 3rem);
	border-radius: var(--round-border-radius);
	transition: background-color 0.3s ease;
	height: 3.5rem;
}

.campaign-header__back-button:hover {
	background: var(--primary-700);
}

.campaign-header__bookmark-button {
	display: flex;
	align-items: center;
	background: var(--neutral-100);
	border-radius: var(--round-border-radius);
	gap: 1rem;
	transition: background-color 0.3s ease;
}

.campaign-header__bookmark-text {
	display: none;
	padding-inline-end: 1.75rem;
	transition: color 0.3s ease;
}

@media (max-width: 23.125rem) {
	.campaign-page {
		font-size: 0.8rem;
	}

	.campaign-header__buttons {
		flex-wrap: wrap;
	}

	.campaign-header__back-button {
		width: 100%;
	}

	.campaign-header__bookmark-button {
		width: 100%;
	}

	.campaign-header__bookmark-text {
		display: inline-block;
		margin-inline: auto;
	}
}

@media (min-width: 43.75rem) {
	.campaign-header__bookmark-text {
		display: inline-block;
	}
}

.campaign-header__bookmark-circle {
	transition: fill 0.3s ease;
}

.campaign-header__bookmark-icon {
	transition: fill 0.3s ease;
}

.campaign-header__bookmark-button:hover .campaign-header__bookmark-circle {
	fill: var(--primary-400);
}

.campaign-header__bookmark-button:hover .campaign-header__bookmark-icon {
	fill: var(--neutral-white);
}

.campaign-header__bookmark-button:hover .campaign-header__bookmark-text {
	color: var(--primary-400);
}

.bookmarked .campaign-header__bookmark-circle {
	fill: var(--primary-700);
}

.bookmarked .campaign-header__bookmark-icon {
	fill: var(--neutral-white);
}

.bookmarked .campaign-header__bookmark-text {
	color: var(--primary-700);
}

.bookmarked.campaign-header__bookmark-button:hover {
	background: var(--neutral-100);
}

/* CAMPAIGN STATS */

.campaign-stats {
	justify-items: center;
	background: var(--neutral-white);
	text-align: center;
	gap: 1.25rem;
}

.campaign-stats__item-text {
	display: grid;
	gap: 0.5rem;
}

.campaign-stats__item-value {
	font-size: 2rem;
	font-weight: 700;
	color: var(--neutral-black);
	line-height: 1.1;
}

.campaign-stats__separator {
	height: 1px;
	width: 5rem;
	background: var(--neutral-200);
}

.campaign-stats__progress {
	height: 0.75rem;
	width: 100%;
	border-radius: var(--round-border-radius);
	background: var(--neutral-100);
	margin-block-start: 0.5rem;
}

.campaign-stats__progress-bar {
	height: 0.75rem;
	border-radius: var(--round-border-radius);
	background: var(--primary-400);
}

/* CAMPAIGN INFO */

.campaign-info__title {
	font-size: 1.125rem;
}

/* CARD */

.card-container {
	display: grid;
	gap: 1.5rem;
}

.card {
	display: grid;
	gap: 1.25rem;
	padding: clamp(1.5rem, 0.939rem + 2.424vw, 2rem);
	border: 1px solid var(--neutral-200);
	border-radius: var(--card-border-radius);
}

.card__header {
	display: grid;
	gap: 0.25rem;
}

.card__title {
	font-size: clamp(0.9rem, 0.676rem + 0.97vw, 1.1rem);
}

.card__subtitle {
	font-weight: 500;
	color: var(--primary-400);
}

.card__reward {
	display: flex;
	align-items: center;
	gap: 0.625rem;
}

.card__reward-quantity {
	color: var(--neutral-black);
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.2;
}

.card__button {
	padding-block: 0.75rem;
	padding-inline: 2rem;
	background: var(--primary-400);
	border-radius: var(--round-border-radius);
	font-weight: 700;
	color: var(--neutral-white);
	justify-self: start;
	transition: background-color 0.3s ease;
}

.card__button:hover {
	background: var(--primary-700);
}

.card__button:disabled {
	background: var(--neutral-500);
}

.card--disabled {
	cursor: not-allowed;
	opacity: 0.6;
	pointer-events: none;
}

/* CAMPAIGN MODAL */

.campaign-modal {
	width: calc(100% - clamp(3rem, -4.848rem + 33.939vw, 10rem));
	gap: 1.5rem;
	color: var(--neutral-500);
	max-height: 90vh;
	overflow-y: auto;
	max-width: 45.625rem;
}

@supports (scrollbar-gutter: stable) {
	.campaign-modal {
		scrollbar-gutter: stable;
	}
}

.campaign-modal::backdrop {
	opacity: 0.6;
	background: var(--neutral-black);
}

.campaign-modal__header {
	display: flex;
	justify-content: space-between;
}

.campaign-modal__title {
	font-size: clamp(1.125rem, 0.705rem + 1.818vw, 1.5rem);
}

.campaign-modal__form .card {
	padding-inline: 0;
}

.campaign-modal .card__title {
	font-size: clamp(0.9rem, 0.788rem + 0.485vw, 1rem);
}

.card__option {
	display: grid;
	grid-template-areas: "radio label" "description description" "reward reward";
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 1.25rem 1rem;
	padding-inline: clamp(1.5rem, 0.939rem + 2.424vw, 1.75rem);
}

.card__option--no-reward {
	margin-block-end: -1rem;
}

.card__radio {
	appearance: none;
	width: 1.5rem;
	height: 1.5rem;
	border: 1px solid var(--neutral-200);
	border-radius: 50%;
	display: grid;
	place-content: center;
	margin: 0;
	grid-area: radio;
}

.card__radio:focus-visible {
	outline: 2px solid var(--primary-400);
	outline-offset: -2px;
}

.card__radio::before {
	content: "";
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	background-color: var(--primary-400);
	transform: scale(0);
	transition: transform 0.15s ease;
}

.card__radio:checked::before {
	transform: scale(1);
}

.card:has(.card__radio:checked) {
	border-width: 2px;
	border-color: var(--primary-400);
}

.card__option .card__label {
	grid-area: label;
	display: grid;
	gap: 0.4rem;
}

.card__option .card__description {
	grid-area: description;
}

.card__option .card__reward {
	grid-area: reward;
}

.card__option .card__reward-quantity {
	font-size: 1.125rem;
}

.card__separator {
	display: none;
	height: 2px;
	background: var(--neutral-100);
}

.card__pledge-container {
	display: none;
	padding-inline: clamp(1.5rem, 0.939rem + 2.424vw, 2rem);
	justify-items: center;
	gap: 1.125rem;
	margin-block-start: 0.375rem;
}

.card__option:has(.card__radio:checked) ~ .card__separator {
	display: inline-block;
}

.card__option:has(.card__radio:checked) ~ .card__pledge-container {
	display: grid;
}

.card__pledge-text {
	font-weight: 500;
}

.card__pledge-input {
	font-weight: 700;
}

.card__pledge-prefix {
	color: var(--neutral-200);
}

.card__pledge-field {
	appearance: none;
	border: 0;
	outline: none;
	color: var(--neutral-black);
	min-width: 0;
	width: 100%;
}

.card__pledge {
	display: grid;
	align-items: center;
	grid-template-columns: auto auto;
	gap: 1rem;
}

.card__pledge-input {
	display: flex;
	gap: 0.5rem;
	border: 1px solid var(--neutral-200);
	padding-inline: 1.25rem;
	height: 100%;
	align-items: center;
	border-radius: var(--round-border-radius);
	max-width: 7.5rem;
}

.card__pledge-input:focus-within {
	border: 2px solid var(--primary-400);
}

.card__pledge-input:has(.card__pledge-field:focus) .card__pledge-prefix {
	color: var(--neutral-500);
}

.card__pledge-button {
	padding-block: 0.825rem;
	padding-inline: 1.625rem;
	background: var(--primary-400);
	border-radius: var(--round-border-radius);
	font-weight: 700;
	color: var(--neutral-white);
	justify-self: start;
	transition: background-color 0.3s ease;
}

.card__pledge-button:hover {
	background: var(--primary-700);
}

.card__pledge-button:disabled {
	background: var(--neutral-500);
	pointer-events: none;
}

.card__pledge-error {
	font-size: 0.75rem;
	display: none;
	color: var(--error-400);
	font-weight: 500;
	grid-column: span 2;
	justify-self: center;
}

.card__pledge-error--visible {
	display: inline-block;
}

.card__pledge-input--error {
	border: 2px solid var(--error-400);
}

/* SUCCESS MODAL */

.success-modal {
	width: calc(100% - clamp(3rem, -4.848rem + 33.939vw, 10rem));
	justify-items: center;
	gap: 1.875rem;
	color: var(--neutral-500);
	max-width: 33.75rem;
}

.success-modal::backdrop {
	opacity: 0.6;
	background: var(--neutral-black);
}

.success-modal__checkmark {
	width: clamp(4rem, 1.758rem + 9.697vw, 6rem);
	margin-block-end: clamp(0rem, -1.682rem + 7.273vw, 1.5rem);
}

.success-modal__title {
	font-size: clamp(1.125rem, 0.705rem + 1.818vw, 1.5rem);
}

.success-modal__text {
	text-align: center;
}

.success-modal__button {
	padding-block: 0.825rem;
	padding-inline: 2rem;
	background: var(--primary-400);
	border-radius: var(--round-border-radius);
	font-weight: 700;
	color: var(--neutral-white);
	transition: background-color 0.3s ease;
}

.success-modal__button:hover {
	background: var(--primary-700);
}

@media (min-width: 48rem) {
	/* HEADER */

	.header {
		height: 25rem;
		background-image:
			var(--header-gradient), url("../images/image-hero-desktop.jpg");
	}

	.header__nav {
		padding-inline: 5rem;
		padding-block: 1rem;
		max-width: 80rem;
		margin-inline: auto;
	}

	.header__logo {
		padding-inline: 0rem;
	}

	.header__menu {
		display: flex;
		position: static;
		background: transparent;
		flex-direction: row;
		border: none;
		border-radius: initial;
		color: var(--neutral-white);
		font-size: 0.9rem;
		font-weight: 400;
	}

	.header__menu-item:not(:last-child) {
		border: none;
	}

	.header__menu-toggle {
		display: none;
	}

	/* CAMPAIGN PAGE */

	.campaign-page {
		padding-inline: 0;
		max-width: clamp(35.625rem, -18.232rem + 112.409vw, 45.625rem);
		margin-block-start: -6rem;
	}

	/* CAMPAIGN HEADER */
	.campaign-header__title {
		max-width: none;
	}

	.campaign-header__text {
		max-width: none;
	}

	.campaign-header__buttons {
		margin-block-start: 1rem;
	}

	/* CAMPAIGN STATS */

	.campaign-stats {
		grid-template-columns: 1fr auto 1fr auto 1fr;
	}

	.campaign-stats__separator {
		height: 4rem;
		width: 1px;
	}

	.campaign-stats__progress {
		grid-column: span 5;
		margin-block-start: 1rem;
	}

	/* CARD */

	.campaign-options__item {
		grid-template-areas: "header header" "description description" "reward button";
	}

	.card__header {
		grid-area: header;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-block-start: 0.5rem;
	}

	.card__description {
		grid-area: description;
		margin-block-end: 0.5rem;
	}

	.card__button {
		justify-self: end;
	}

	/* CAMPAIGN MODAL */

	.campaign-modal__options {
		margin-block-start: 0.5rem;
	}

	.campaign-modal__form-option {
		gap: 1.625rem;
	}

	.card__option {
		grid-template-areas: "radio label reward" "radio description description";
		grid-template-columns: auto 1fr auto;
		gap: 1.125rem 1.5rem;
	}

	.card__radio {
		margin-block-start: 0.25rem;
		align-self: self-start;
	}

	.card__option .card__label {
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	.card__option--no-reward {
		margin-block-end: 0;
	}

	.card__option--no-reward .card__label {
		margin-block-start: 0.35rem;
	}

	.card:has(.card__radio:checked) .card__subtitle {
		font-weight: 700;
	}

	.card__separator {
		margin-block-start: 0.5rem;
	}

	.card__pledge-container {
		justify-content: space-between;
		align-items: center;
		margin-block-start: 0;
		margin-block-end: -0.375rem;
	}

	.card__option:has(.card__radio:checked) ~ .card__pledge-container {
		display: flex;
	}

	.card__pledge-text {
		align-self: self-start;
		padding-block: 0.825rem;
	}

	/* SUCCESS MODAL */

	.success-modal__text {
		margin-block-start: -0.5rem;
	}

	.success-modal__button {
		margin-block-start: 0.5rem;
		margin-block-end: 0.25rem;
	}

	.attribution {
		margin-block-start: 8rem;
	}
}
